- if @selection.nil? || @selection&.empty?
  %em no filters
- else
  - @selection.each do |key, val|
    %em.text-primary= Property.find(key).name + ':'
    - val.each do |key|
      - value = PropertyValue.find(key).property_data
      = first_word(value) + ';'