= form_with(url: search_phones_path,
                      html: { class: 'd-flex', role: 'search', method: :get }) do |f|

  = f.text_field :query, class: %w[form-control me-2],
                   'aria-label': 'Search', placeholder: 'Search', type: 'search'

  = f.submit class: %w[btn btn-outline-primary], type: 'submit'