%h5.text-primary= phone.name

%div.phone-image
  - first_phone = phone.images&.order(:order).first
  = image_tag first_phone.url, height: 300 if first_phone

%p

- key_features_values(phone).each do | p_value |
  - next if p_value.property.name == 'Description'
  %p
    %strong #{p_value.property.name}:
    = p_value.property_data
