%h1 phones
!= pagy_bootstrap_nav(@pagy)

.row.row-cols-1.row-cols-md-1.row-cols-lg-2.row-cols-xl-3
  - @phones.each do |phone|
    .col
      .card.shadow-sm
        .card-body
          %p.card-text
            = render 'phone', phone: phone, edit_img: false
            = link_to 'Show this phone', phone
          = link_to 'New phone', new_phone_path
