<div id="<%= dom_id property_group %>">
  <p>
    <strong>Name:</strong>
    <%= property_group.name %>
  </p>
    <p>
    <strong>Main:</strong>
    <%= property_group.main %>

    <strong>Order:</strong>
    <%= property_group.order %>
  </p>

</div>
