%h1 Editing property group
= render 'form', property_group: @property_group
%br
%div
  = link_to 'Show this property group', @property_group
  |
  = link_to 'Back to property groups', property_groups_path
