= form_with(url: seller_goods_path) do |form|

  %div
    = form.label :main_link, style: 'display: block'
    = form.text_field :main_link, size: 80
  %div
    = form.submit 'GO', class: %w[btn btn-primary]
