= form_with(url: seller_models_path) do |form|

  %div
    = form.hidden_field :seller_id, value: @seller.id
    = form.hidden_field :main_link, value: true
  %div
    = form.submit 'Get/update models', class: %w[btn btn-primary]
