%table.table
  %thead
    %tr
      %th{scope: 'col'} #
      %th.col-6{scope: 'col'} Name
      %th{scope: 'col'} Updated
      %th{scope: 'col'} Update

    %tbody
      - model.variants.order(:storage).each_with_index do |variant, index|
        %tr
          %td=index + 1
          %td=variant.name
          %td=variant.updated_at
          %td
            =render 'form_item', item_id: variant.id