%h1 Seller`s models
%em Name:
%strong=@seller.name

= render 'sellers/form_models'
%br
= Temp.first.text
%br

= render 'sellers/seller_models'

%br

%div
  = link_to 'Show this seller', @seller
  |
  =link_to 'Back to sellers', sellers_path