#property_values_form.modal
  .modal-dialog
    .modal-content

      .modal-header
        %h4.modal-title New Value
        %button.btn-close{'data-bs-dismiss': 'modal', type: 'button'}

      .modal-body
        = render 'property_values/form', property_value: PropertyValue.new