<div id="<%= dom_id property_value %>">
  <p>
    <strong>property Name:</strong>
    <%= property_value.property.name %>
  </p>
  <p>
    <strong>property Data:</strong>
    <%= property_value.property_data %>
  </p>

</div>
