.col, .card {
    height: 100%;
}

.phone-card {
    margin: 10px 0;
}

.phone-image {
    display: block;
    margin: 20px 0;
    text-align: center;
}

.card-text a {
    text-decoration: none;
    color: black;

}

.pagination-wrapper {
    display: flex;
    justify-content: end;
}

.carousel {
    margin-bottom: 75px;
}

.carousel-inner {
    text-align: center;
}

.carousel-item {
    height: 550px;
}

.carousel button span {
    filter: invert(70%);
}
.carousel-indicators {
    margin-bottom: -25px;
}

.carousel-indicators [data-bs-target] {
    height: 0;
    width: 50px;
    text-indent: 0;
}


