#myCarousel.carousel.slide{"data-bs-ride" => "carousel"}
  .carousel-indicators
    %button{"aria-label" => "Slide 1", "data-bs-slide-to" => "0", "data-bs-target" => "#myCarousel", :type => "button"}
    %button{"aria-label" => "Slide 2", "data-bs-slide-to" => "1", "data-bs-target" => "#myCarousel", :type => "button"}
    %button.active{"aria-current" => "true", "aria-label" => "Slide 3", "data-bs-slide-to" => "2", "data-bs-target" => "#myCarousel", :type => "button"}
  .carousel-inner
    != phone.images&.order(:order).each_with_index do | image, i |
      %div{class: ['carousel-item', ('active' if i == 0)]}
        = image_tag image.url, height: 300


  %button.carousel-control-prev{"data-bs-slide" => "prev", "data-bs-target" => "#myCarousel", :type => "button"}
    %span.carousel-control-prev-icon{"aria-hidden" => "true"}
    %span.visually-hidden Previous
  %button.carousel-control-next{"data-bs-slide" => "next", "data-bs-target" => "#myCarousel", :type => "button"}
    %span.carousel-control-next-icon{"aria-hidden" => "true"}
    %span.visually-hidden Next
