<div id="<%= dom_id image %>">
  <p>
    <strong>Url:</strong>
    <%= image.url %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= image.order %>
  </p>

  <p>
    <strong>Item:</strong>
    <%= image.item_id %>
  </p>

</div>
