.item-images
  -item.images&.order(:order).each do |image|

    - if edit_img
      = link_to image_tag(image.url, height: 120), image
    - else
      = image_tag image.url, height: 120
  %br

  = link_to 'New image', new_image_path(id: item.id) if edit_img