.phone-images
  -phone.images&.order(:order).each do |image|

    - if defined? edit_img
      = link_to image_tag(image.url, height: 120), image
    - else
      = image_tag image.url, height: 120
  %br

  = link_to 'New image', new_image_path(id: phone.id) if defined? edit_img